@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ebebeb;
  background-image: url('/dwarfimg.png'), url('/lichimg.png'); /* Multiple background images separated by a comma */
  background-size: cover, cover; /* Set the size for both background images */
  background-repeat: no-repeat, no-repeat; /* Prevent both images from repeating */
  background-position: center top, center bottom;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin: 0;
  padding: 0;
  
  /*background: black;*/
}

p {
  font-size: 18px;
}

h1{
  margin-bottom:5px;
}

a{
  color:#e8e5c5;
}





/* For Firefox */
textarea {
  scrollbar-color: black gray; /* Thumb and track colors */
}
