@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ebebeb;
  
  background-image: url('/lichimg.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center top;

  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  margin: 0;
  padding: 0;

}

p {
  font-size: 19px;
  font-family: 'Lato', sans-serif;
}

h1{
  margin-bottom:5px;
  font-family: 'Lato', sans-serif;
}

a{
  color:#e8e5c5;
  font-family: 'Lato', sans-serif;
}

/* For Firefox */
textarea {
  scrollbar-color: black gray; /* Thumb and track colors */
  font-family: 'Lato', sans-serif;
}

textarea::placeholder {
  color: #ebebeb;
  font-family: 'Lato', sans-serif;
}

.wwwSpan{
  font-size:18px;
  color:#dedcdc;
}